@import 'libs/variables';

/* SMALL MOBILE */
.rocket {
    display: block;
    margin: 35px 25px -35px;
}
.CTAContact {
    background: $color-bg-secondary;
    padding: 60px 25px 30px;

    &__title {
        color: $color-txt-primary;
        font-weight: bold;
        font-size: 20px;
    }

    &__description {
        margin-top: 12px;
        line-height: 1.4em;
    }

    &__button {
        margin-top: 25px;
    }
}

/* LARGE MOBILE */
@media screen and (min-width: 375px) {
    .rocket {
        margin: 40px 25px -40px;

        img {
            width: 70px !important;
            height: 70px !important;
        }
    }
    
    .CTAContact {
        padding: 70px 25px 30px;
    
        &__title {
            font-size: 25px;
        }
    
        &__description {
            margin-top: 15px;
            font-size: 16px;
        }
    
        &__button {
            font-size: 16px;
            width: 250px;
        }
    }
}

@media screen and (min-width: 500px) {
    .rocket {
        margin: 45px 10vw -45px;

        img {
            width: 80px !important;
            height: 80px !important;
        }
    }

    .CTAContact {
        text-align: center;

        &__description {
            span {
                display: block;
            }
        }

        &__button {
            margin: 25px auto 0;
        }
    }
}

/* TABLET */
@media screen and (min-width: 768px) {
    .CTAContact{
        padding-top: 35px;
    }

    .CTAContactService {
        max-width: 1030px;
        width: 80%;
        margin: 0 auto 60px;
        border-radius: 5px;
        box-shadow: 0px 4px 8px rgba(34, 34, 34, 0.2);
    }

    .rocket {
        margin: 45px 10vw -45px;
        margin-top: 0;
        padding-top: 45px;

        img {
            width: 90px !important;
            height: 90px !important;
        }
    }

    .rocketService {
        text-align: center;
        transform: translateX(-230px);
    }
}

/* DESKTOP */
@media screen and (min-width: 1024px) {
    .rocket {
        margin: 55px 10vw -55px;
        margin-top: 0;
        padding-top: 55px;

        img {
            width: 100px !important;
            height: 100px !important;
        }
    }

    .rocketService {
        transform: translateX(-300px);
    }
    
    .CTAContact {
    
        &__title {
            font-size: 27px;
        }
    
        &__description {
            margin-top: 20px;
            font-size: 17px;
        }
    
        &__button {
            font-size: 20px;
            width: 330px;
            padding: 15px;
            margin-top: 40px;
        }
    }

    .CTAContactService {
        margin: 0 auto 80px;
    }
}

/* LARGE DESKTOP */
@media screen and (min-width: 1440px) {
    .rocketService {
        transform: translateX(-380px);
    }
    .CTAContactService {
        margin: 0 auto 100px;
    }
}