@import 'libs/variables';

/* SMALL MOBILE */
.maintenance {
    margin: auto;

    &__description {
        padding: 0 25px;

        h2 {
            padding-bottom: 20px;
        }

        &__content {
            max-width: 1070px;
            margin: auto;
        }

        &__text1, &__text2 {
            font-size: 1.3rem;
            line-height: 1.5em;
            margin-bottom: 10px;
        }

        &__text1 {

            p {
                margin-bottom: 15px;
            }
        }

        &__text2 {
            padding-bottom: 20px;

            ul {
                list-style-type: disc;
                padding-left: 20px;
                margin-bottom: 15px;
            }

            p:first-child {
                margin-bottom: 15px;
            }
        }
    }

    &__competences {
        background-color: $color-bg-secondary;
        padding: 1px 25px;

        h2 {
            padding-bottom: 20px;
        }
    }

    &__contact {
        padding-bottom: 30px;
    }
}

/* LARGE MOBILE */
@media screen and (min-width: 375px) {
    .maintenance {
    
        &__description {
    
            &__text1, &__text2 {
                font-size: 1.4rem;
                margin-top: 7px;
                margin-bottom: 12px;
            }

            &__text2 {
                padding-bottom: 25px;

                ul {
                    padding-left: 25px;
                }
            }
        }

        
        &__competences {
            h2 {
                padding-bottom: 25px;
            }
        }
    
        &__contact {
            padding-bottom: 35px;
        }
    }
}

/* TABLET */
@media screen and (min-width: 768px) {
    .maintenance {
        &__description {
            background-image: url(../../../public/assets/background/spicx-to-left-valeurs.svg);
            background-repeat: no-repeat;
            background-size: 40%;
            background-position: 120% 40%;
            padding-bottom: 30px;

            &__content {
                max-width: 500px;
                margin: auto;
            }

            &__text1, &__text2 {
                font-size: 1.5rem;
                margin-top: 10px;

                ul {
                    padding-left: 30px;
                }
            }
        }

        &__competences {
            h2 {
                padding-bottom: 0px;
            }
        }

        &__contact {
            background-image: url(../../../public/assets/background/spicx-to-right.svg);
            background-repeat: no-repeat;
            background-size: 15%;
            background-position: 0% 10%;
        }
    }
}

/* DESKTOP */
@media screen and (min-width: 1024px) {
    .maintenance {
        &__description {
            padding-bottom: 40px;
            background-size: 40%;
            background-position: 120% 20%;

            h2 {
                margin-bottom: 10px;
            }

            &__content {
                max-width: 1070px;
                display: flex;
                justify-content: space-between;
            }

            &__content {
                display: flex;
                flex-wrap: wrap;
            }

            &__text1, &__text2 {
                font-size: 1.6rem;
                width: 50%;
                max-width: 450px;

                p {
                    margin-bottom: 20px;
                }

                ul {
                    padding-left: 35px;
                }
            }
        }

        &__competences {
            padding-bottom: 20px;

            h2 {
                padding-bottom: 15px;
            }

            &__list {
                display: flex;
                flex-wrap: wrap;
                margin: auto;
                max-width: 1070px;
            }
        }

        &__contact {
            background-size: 20%;
            background-position: 0% 10%;
        }
    }
}

/* LARGE DESKTOP */
@media screen and (min-width: 1440px) {
    .maintenance {
        &__description {
            padding-bottom: 50px;
            background-size: 30%;
            background-position: 110% 10%;

            h2 {
                margin-bottom: 15px;
            }
        }

        &__competences {
            h2 {
                padding-bottom: 25px;
            }
        }

        &__contact {
            background-size: 10%;
            background-position: 0% 10%;
        }
    }
}