@import 'libs/variables';

/* SMALL MOBILE */
.hero {
    height: 300px;
    background-image: radial-gradient(100% 100% at 50% 50%, rgba(29, 64, 116, 0.7) 0%, #1f5879 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $color-txt-contrast;
    text-align: center;
    padding: 0 10px;

    &__image {
        position: absolute;
        top: 0; left: 0;
        height: 300px;
        width: 100%;
        overflow: hidden;
        z-index: -1;
    }
    
    &__title {
        margin-top: 30px;
        font-size: 2.5rem;
        font-weight: bold;
        letter-spacing: -0.02em;
        line-height: 1.3em;
    }

    &__subtitle {
        font-size: 1.6rem;
        font-weight: bold;
        margin-top: 15px;
        line-height: 1.3em;
    }
}

/* LARGE MOBILE */
@media screen and (min-width: 375px) {
    .hero {
        height: 350px;
        padding: 0 15px;

        &__image {
            height: 350px;
        }
    
        &__title {
            margin-top: 40px;
            font-size: 3rem;
        }

        &__subtitle {
            font-size: 1.8rem;
            margin-top: 17px;
        }
    }
}

/* TABLET */
@media screen and (min-width: 768px) {
    .hero {
        height: 400px;

        &__image {
            height: 400px;
        }
    
        &__title {
            font-size: 3.5rem;
        }

        &__subtitle {
            font-size: 2.2rem;
        }
    }
}

/* DESKTOP */
@media screen and (min-width: 1024px) {
    .hero {
        height: 450px;

        &__image {
            height: 450px;
        }
    
        &__title {
            font-size: 4rem;
        }

        &__subtitle {
            font-size: 2.5rem;
        }
    }
}

/* LARGE DESKTOP */
@media screen and (min-width: 1440px) {
    .hero {
        height: 500px;

        &__image {
            height: 500px;
        }
    
        &__title {
            font-size: 5rem;
            margin-top: 50px;
        }

        &__subtitle {
            font-size: 3rem;
            margin-top: 25px;
        }
    }
}