@import 'libs/variables';

.card {
    background: $color-bg-secondary;
    cursor: pointer;
    border-bottom: 1px solid #E6E6E6;
    margin-bottom: 25px;

    &:last-child {
        margin-bottom: 0;
    }

    &__background {
        position: relative;
        height: 115px;

        &__overlay {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            background: rgba(255, 255, 255, .5);
            z-index: 10;
            transition: opacity .5s ease-in-out;

            &:hover {
                opacity: 0;
            }
        }

        img {
            object-fit: cover;
        }
    }

    &__text {
        padding: 20px 10px 0;

        h3 {
            font-weight: bold;
            font-size: 18px;
            margin-bottom: 15px;
            letter-spacing: -0.02em;
        }

        p {
            line-height: 1.3em;
            font-size: 13px;
            margin-bottom: 15px;
        }

        &__cta {
            color: $color-txt-secondary;
            text-align: right;
            font-size: 12px;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

@media screen and (min-width: 375px) {
    .card {
    
        &__background {
            height: 125px;
        }
    
        &__text {
            padding: 23px 13px 0;
    
            h3 {
                font-size: 22px;
            }
    
            p {
                font-size: 16px;
            }
    
            &__cta {
                font-size: 14px;
            }
        }
    }
}