.sloganService {
    font-size: 15px;
    text-align: center;
    margin: 12px 10vw 30px;
    line-height: 1.3em;
}

@media screen and (min-width: 375px) {

    .sloganService {
        font-size: 18px;
    }
}