@import 'libs/reset';
@import 'libs/typography';
@import 'libs/variables';

* {
  font-family: $font-default;
}

html, body {
  font-size: 13px;
  color: $color-txt-primary;
}

a {
  text-decoration: none;
}

a, a:focus, a:visited, a:hover, a:active {
  color: $color-txt-link;
}

a:hover {
  color: $color-txt-link-hover;
}

.btnPrimary {
  position: relative;
  display: block;
  color: $color-txt-contrast !important;
  background: $color-bg-primary-btn;
  border-radius: 5px;
  box-shadow: 0px 8px 8px rgba(34, 34, 34, 0.2);
  text-decoration: none;
  width: 200px;
  padding: 12.5px 10px 10px 10px;
  font-weight: bold;
  font-size: 13px;
  z-index: 1;
  text-align: center;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: $color-bg-primary-btn-hover;
    border-radius: 5px;
    z-index: -1;
    transition: opacity .3s linear;
    opacity: 0;
  }

  &:hover::before {
    opacity: 1;
  }
}

.btnSecondary {
  display: block;
  color: $color-txt-link;
  background: $color-bg-secondary-btn;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(34, 34, 34, 0.2);
  text-decoration: none;
  width: 200px;
  padding: 12.5px 10px 10px 10px;
  font-weight: bold;
  font-size: 13px;
  text-align: center;
}

.titleSection {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

.titleSection::after {
  content: '';
  display: block;
  width: 60px;
  height: 1px;
  background: $color-txt-primary;
  margin: 5px auto 0;
}

@media screen and (min-width: 375px) {
  .titleSection {
    font-size: 30px;
  }
  
  .titleSection::after {
    width: 80px;
    margin: 7.5px auto 0;
  }
}