@import 'libs/variables';

/* SMALL MOBILE */
.realisations {
    background: $color-bg-secondary;
    padding: 50px 25px 15px;

    &__title {
        padding: 0;
    }

    &__carousel {
        margin: 25px auto 0;
        max-width: 900px;
    }
}

/* LARGE MOBILE */
@media screen and (min-width: 375px) {

    .realisations {

        &__carousel {
            margin-top: 30px;
        }
    }
}

/* TABLET */
@media screen and (min-width: 768px) {
    .realisations {
        background-image: url(../../../public/assets/background/spics-to-right.svg);
        background-repeat: no-repeat;
        background-size: contain;

        &__carousel {
            margin-top: 40px;
        }
    }
}

/* LARGE DESKTOP */
@media screen and (min-width: 1440px) {
    .realisations {
        &__title {
            padding-top: 15px;
        }

        &__carousel {
            padding-bottom: 15px;
        }
    }
}